In [1]:
import os, pandas as pd

In [2]:
paths = [f'../repract_validation_responses/{x}' for x in ['AV', 'DM']]
files = [f'{path}/{f}' for path in paths for f in os.listdir(path) if f.endswith('.csv')]

In [3]:
files

['../repract_validation_responses/AV/v_11_correctionlog.csv',
 '../repract_validation_responses/AV/v_16_correctionlog.csv',
 '../repract_validation_responses/AV/v_19_correctionlog.csv',
 '../repract_validation_responses/AV/v_6_correctionlog.csv',
 '../repract_validation_responses/DM/papertags_how_withwhom_corrcc.csv',
 '../repract_validation_responses/DM/v_8345etseq_codefile.csv',
 '../repract_validation_responses/DM/v_8780etseq_codefile.csv']

In [4]:
filedfs = {file:pd.read_csv(file,sep=';', encoding='latin1') for file in files}

How and With Whom Tags

In [5]:
filedfs['../repract_validation_responses/DM/papertags_how_withwhom_corrcc.csv'
       ].to_csv('../../data/codedtruth/papertags_how_withwhom_final.csv', index=False)

For the What Tags, we are using the original versions (as corrected only by CC)

In [6]:
pd.read_csv('../repract_validation/XF/papertags_what_codefile.csv', sep=';'
           ).to_csv('../../data/codedtruth/papertags_what_final.csv', index=False)

Positive and Negative Reasoning

In [35]:
filedfs['../repract_validation_responses/DM/v_8345etseq_codefile.csv'
       ].to_csv('../../data/codedtruth/v_8345etseq_final.csv', index=False)

In [36]:
filedfs['../repract_validation_responses/DM/v_8780etseq_codefile.csv'
       ].to_csv('../../data/codedtruth/v_8780etseq_final.csv', index=False)

Short Free Text Variables

In [97]:
def integrate_corrections(df_old, df_corrlog, varno):
    for row in df_corrlog.iterrows():
        df_old.at[row[1]['lfdn'],f'v_{varno}_coded'] = row[1]['new_code']
    return df_old

v_6

In [98]:
v6_coded = pd.read_csv('../../analysis/freetext/v_6_coded.csv', sep=';').set_index('lfdn')
v6_coded.head()

                                                    v_6       v_6_coded
lfdn
106                                          Researcher      Researcher
139                            Product Management Coach         Manager
173   Functional Safety Consultant focussing of the ...      Consultant
216   Enterprise Systems of Systems researcher (auto...      Researcher
240   Changing with different jobs, RE, Architect, D...  Multiple Roles

In [99]:
v6_corrlog = filedfs['../repract_validation_responses/AV/v_6_correctionlog.csv']
v6_corrlog = v6_corrlog.replace('Developer or tool vendor', 'Developer')
v6_corrlog

,lfdn,old_code,new_code,reasoning
0,139,Manager,Coach,Answer says that s/he is a coach for management
1,299,Context Roles,Other,I don't like the term 'context roles'. It's to...
2,306,Multiple Roles,Requirements Engineer,RE and Product Owner is almost the same
3,310,Process Designer,Developer,Definitly not a process designer. Either devlo...
4,342,Multiple Roles,Requirements Engineer,RE and BA is almost the same
5,445,Context Roles,Other,I don't like the term 'context roles'. It's to...
6,447,Designer,Architect,A service designer is basically an architect
7,515,Multiple Roles,Requirements Engineer,answer is basically a description of a require...
8,544,Researcher,Coach,Coach in the first place.
9,597,Architect,Manager,More a manager than an architect

In [110]:
v6_integrated = integrate_corrections(v6_coded, v6_corrlog, 6).reset_index()
v6_integrated.v_6_coded.unique()

array(['Researcher', 'Coach', 'Consultant', 'Multiple Roles', 'Architect',
       'Other', 'Requirements Engineer', 'Developer', 'Manager',
       'Process Designer'], dtype=object)

In [125]:
v6_integrated.to_csv('../../data/codedtruth/v_6_coded_final.csv', index=False)

v_11 (no objections here)

In [114]:
filedfs['../repract_validation_responses/AV/v_11_correctionlog.csv']

Empty DataFrame
Columns: [lfdn, old_code, new_code, reasoning]
Index: []

In [126]:
pd.read_csv('../../analysis/freetext/v_11_coded.csv', sep=';'
           ).to_csv('../../data/codedtruth/v_11_coded_final.csv', index=False)

v_16

In [119]:
v16_coded = pd.read_csv('../../analysis/freetext/v_16_coded.csv', sep=';').set_index('lfdn')
v16_coded.head()

,v_16,v_16_coded
lfdn,,
139,Customer facing software products,(Business) information systems
240,"Different, consumer platforms, mobile Apps etc.",(Business) information systems
245,Aeronautics,Hybrid / mix of embedded systems and informati...
310,"Requirements Engineering tools, compilers and ...",(Business) information systems
341,Railway systems,Hybrid / mix of embedded systems and informati...

In [121]:
v16_corrlog = filedfs['../repract_validation_responses/AV/v_16_correctionlog.csv']
v16_corrlog

,lfdn,old_code,new_code,reasoning
0,139,(Business) information systems,Consumer Software,Consumer SW is often differnt from BI systems
1,240,(Business) information systems,Consumer Software,Consumer SW is often differnt from BI systems
2,245,Hybrid / mix of embedded systems and informati...,Software-intensive embedded systems,Aeronautics is more likely to be ES
3,341,Hybrid / mix of embedded systems and informati...,Software-intensive embedded systems,Railway is mostly embedded
4,784,(Business) information systems,Consumer Software,eductaion systems are very consumer oriented

In [124]:
v16_integrated = integrate_corrections(v16_coded, v16_corrlog, 16).reset_index()
v16_integrated

,lfdn,v_16,v_16_coded
0,139,Customer facing software products,Consumer Software
1,240,"Different, consumer platforms, mobile Apps etc.",Consumer Software
2,245,Aeronautics,Software-intensive embedded systems
3,310,"Requirements Engineering tools, compilers and ...",(Business) information systems
4,341,Railway systems,Software-intensive embedded systems
5,354,"machinery, intralogistic systems",Hardware
6,363,firmware/microprocessor systems,Hardware
7,515,"network / infrastructure, systems (HW + embedd...",Hardware
8,590,all the above,Hybrid / mix of embedded systems and informati...
9,784,online education systems,Consumer Software
10,885,ERP,(Business) information systems
11,906,"All of the above, along with hardware",Hybrid / mix of embedded systems and informati...

In [127]:
v16_integrated.to_csv('../../data/codedtruth/v_16_coded_final.csv', index=False)

v_19

After some discussion, I decided to NOT use 'Military' as a sector (as suggested by AV) but go with AV's suggestion on the 'Education' (rather than 'Research and Education') front to allow for further aggregation.

In [159]:
v19_coded = pd.read_csv('../../analysis/freetext/v_19_coded.csv', sep=';').set_index('lfdn')
v19_coded.loc[292]

v_19               Defense
v_19_coded    Public Sector
Name: 292, dtype: object

In [164]:
v19_corrlog = filedfs['../repract_validation_responses/AV/v_19_correctionlog.csv']
v19_corrlog = v19_corrlog.replace('?','Other').replace('Industrial automation', 'Industrial Automation')

In [167]:
v19_integrated = integrate_corrections(v19_coded, v19_corrlog[v19_corrlog['new_code'] != 'Military'], 19
                                      ).reset_index()

In [168]:
v19_integrated.v_19_coded.unique()

array(['Automotive', 'Education', 'Multiple Sectors', 'Public Sector',
       'ICT', 'Healthcare', 'Financial Services', 'Robotics',
       'Industrial Automation', 'Energy', 'Aeronautics', 'Transportation',
       'Software', 'Consulting', 'Hardware', 'Infrastructure',
       'E-Commerce', 'Other', 'Tourism'], dtype=object)

In [170]:
v19_integrated.to_csv('../../data/codedtruth/v_19_coded_final.csv', index=False)

The End.